body {
	margin: 0;
	padding: 0;
	font-family: 'OpenSans', Arial, sans-serif;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Regular.woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Bold.woff");
	font-weight: 700;
	font-style: normal;
}

ul {
	list-style-type: none;
}

h1, h2 {
	text-transform: uppercase;
}

.welcome {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	flex-direction: column;
	box-sizing: content-box;
	align-items: center;

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.welcome::after {
	content: "";
	background-color: #202448;
	opacity: 0.75;

	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.logo-img {
	width: 10%;
	margin-top: 3%;
	z-index: 2;
	fill: #ffffff;
}

.main-header {
	z-index: 2;
	color: #ffffff;
	margin-top: 15.4%;
	margin-bottom: 11.6%;
}

.app-list {
	z-index: 2;
	display: flex;
	margin-bottom: 5.7%;
	margin-top: 0;
	padding: 0;
}

.app-list-member:nth-of-type(even) {
	margin-left: 2.6%;
	margin-right: 2.6%;
}

.but-app {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	background-color: #5e42b0;
	border: 0;
	color: #ffffff;
	border-radius: 5%;
	padding: auto;
}

.but-img {
	display: flex;
}

.app-img {
	display: flex;
	height: 48px;
	fill: #ffffff;
}

.text-app, .span-app {
	text-transform: uppercase;
	margin: 0;
}







.footer {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;

	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.footer::after {
	content: "";
	background-color: #202448;
	opacity: 0.75;

	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.footer-header-high, .footer-header-low {
	color: white;
	z-index: 2;
}

@media (max-width: 767px) {
	.welcome {
		background-image: url("../images/football_767.jpg");
	}

	.footer {
		background-image: url("../images/game_767.jpg")
	}
}

@media (min-width: 768px) and (max-width: 1280px) {
	.welcome {
		background-image: url("../images/football_1280.jpg")
	}

	.footer {
		background-image: url("../images/game_1280.jpg")
	}
}

@media (min-width: 1282px) {
	.welcome {
		background-image: url("../images/football_1920.jpg");
	}

	.footer {
		background-image: url("../images/game_1920.jpg")
	}
}

@media (max-width: 192px) {}

@media (min-width: 193px) and (max-width: 497px) {}

@media (min-width: 498px) {}