body {
	margin: 0;
	padding: 0;
	font-family: 'OpenSans', Arial, sans-serif;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Regular.woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Bold.woff");
	font-weight: 700;
	font-style: normal;
}

ul {
	list-style-type: none;
}

h1, h2, h3 {
	text-transform: uppercase;
}

path {
	fill: white;
}

.welcome {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	flex-direction: column;
	box-sizing: content-box;
	align-items: center;

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.welcome::after {
	content: "";
	background-color: #202448;
	opacity: 0.8;

	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.logo-img {
	width: 10%;
	margin-top: 3%;
	z-index: 2;
}

.main-header {
	z-index: 2;
	color: #ffffff;
	margin-top: 15.4%;
	margin-bottom: 11.6%;
}

.app-list {
	z-index: 2;
	display: flex;
	margin-bottom: 5.7%;
	margin-top: 0;
	padding: 0;
}

.app-list-member:nth-of-type(even) {
	margin-left: 2.6%;
	margin-right: 2.6%;
}

.but-app {
	display: flex;
	box-sizing: content-box;
	background-color: #5e42b0;
	border: 0;
	color: #ffffff;
	border-radius: 5%;
	padding: auto;
	align-items: center;
}

.app-img {
	height: 48px;
}

.text-app, .span-app {
	text-transform: uppercase;
	margin: 0;
}

.span-app {
	font-weight: bolder;
}

.sec-num {
	font-weight: bold;
}

.section-header {
	color: #e7e7e7;
	margin: 0;
}

.profit-list-member:nth-of-type(1) {
	background-color: white;
}

.one-two {
	background-color: #f6f4fa;
}

.two-two {
	background-color: #f5f6f7;
}

.one-three {
	background-color: #5e42b0;
}

.two-three {
	background-color: #0a0e34;
}

.num-hed {
	display: flex;
}

.profit-number {
	width: 1%;
	font-weight: bold;
	margin-right: 0.7%;
}

.profit-header {
	color: #c1c1c1;
	margin: 0;
}

.two-three-num {
	color: #9173e6;
}

.one-three-cont, .two-three-cont {
	color: white;
}

.divider::after {
	box-sizing: border-box;
	content:"";
	display: block;
	width: 1%;
	height: 0.26%;
	margin:0.3% auto 0;
	background-color: #f6f4fa;
}

.divider-white::after {
	background-color: white;
}

.divider-light::after {
	background-color: #8f7bc8;
}





.footer {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;

	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.footer::after {
	content: "";
	background-color: #202448;
	opacity: 0.75;

	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.foot-but-group {
	display: flex;
	z-index: 2;
	margin-top: 12%;
	margin-bottom: 7.8%;
}

.footer-button {
	width: 6.7%;
	background-color: #6447ba;
	border: 0;
	margin-right: 2%;
}

.but-img-foot {

}

.footer-header-high, .footer-header-low {
	color: white;
	margin: 0;
}

.footer-header-low {
	color: #a496ca;
}

.logo-img-footer {
	width: 10%;
	z-index: 2;
	margin-bottom: 1.3%;
}

@media (max-width: 767px) {
	.welcome {
		background-image: url("../images/football_767.jpg");
	}

	.footer {
		background-image: url("../images/game_767.jpg")
	}
}

@media (min-width: 768px) and (max-width: 1280px) {
	.welcome {
		background-image: url("../images/football_1280.jpg")
	}

	.footer {
		background-image: url("../images/game_1280.jpg")
	}
}

@media (min-width: 1282px) {
	.welcome {
		background-image: url("../images/football_1920.jpg");
	}

	.footer {
		background-image: url("../images/game_1920.jpg")
	}
}

@media (max-width: 192px) {}

@media (min-width: 193px) and (max-width: 497px) {}

@media (min-width: 498px) {}